
.profile-container{
    width: 100%;
    margin-bottom: 1000px;
}
.profile-content{
    display: flex;
    background-color: rgb(255, 162, 162);
    flex-direction: column;
    margin: 3% 5%;
}
.profile-container .profile-content .info{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgb(187, 252, 230);
}
.profile-container .profile-content .info .profile-image{
    display: flex;
    width:250px;
    height:250px;
    background-color: blueviolet;
    padding-right:0;
    justify-content: flex-end;
    /* background-image: url("../assets/userImage.jpeg"); */
    background-size: cover;
}

.profile-container .profile-content .info .profile-image #edit_img{
    position: absolute;
    top:11%;
    left:18.5%;
}
.profile-container .profile-content .info .profile-image img{
    margin-top: 4%;
    width: 100%; 
    /* background-color: red; */
    border-radius: 10px;
    object-fit:cover;
}
.profile-container .profile-content .info .profile-info{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    margin-left: 3%;
}
